header {
  position: sticky;
  top: 0;
  box-sizing: border-box;
  width: 100%;
  background: rgba($background-darker, 0.5);
  backdrop-filter: blur(5px);
  border-bottom: $border-primary;
  
  padding: 1rem;

  display: flex;
  justify-content: space-between;

  #navOpen {
    font-size: 1.5rem;
    
    &:hover {
      cursor: pointer;
    }

    // hide for nav
    display: none;
    @include min-width(medium) {
      display: none;
    }
  }
}
