@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap");
#mobile-nav {
  box-sizing: border-box;
  margin: 0;
  background: #1a1b26;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.5s ease; }
  #mobile-nav .button-container {
    padding: 16px;
    display: flex;
    justify-content: right;
    background: #15161e;
    border-bottom: solid 1px #12121a; }
    #mobile-nav .button-container #navClose {
      font-size: 1.5rem; }
      #mobile-nav .button-container #navClose:hover {
        cursor: pointer; }
  #mobile-nav a {
    position: relative;
    display: block;
    text-align: center;
    text-decoration: none;
    color: #fafafa;
    padding: 16px 0;
    text-align: center;
    border-bottom: solid 1px #12121a; }
    #mobile-nav a.current {
      background: #15161e;
      font-weight: 700; }
  #mobile-nav.open {
    width: 100%; }

header {
  position: sticky;
  top: 0;
  box-sizing: border-box;
  width: 100%;
  background: rgba(21, 22, 30, 0.5);
  backdrop-filter: blur(5px);
  border-bottom: solid 1px #12121a;
  padding: 1rem;
  display: flex;
  justify-content: space-between; }
  header #navOpen {
    font-size: 1.5rem;
    display: none; }
    header #navOpen:hover {
      cursor: pointer; }
    @media (min-width: 768px) {
      header #navOpen {
        display: none; } }

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-sizing: border-box;
  width: 100%;
  height: 200px;
  padding: 1rem;
  background-size: cover !important; }
  @media (min-width: 1024px) {
    .hero {
      height: 400px; } }
  .hero h1, .hero p {
    margin: 0; }
  .hero h1 {
    font-size: 2rem; }
    @media (min-width: 1024px) {
      .hero h1 {
        font-size: 4rem; } }
  .hero p {
    font-size: 1.125rem; }
    @media (min-width: 1024px) {
      .hero p {
        font-size: 1.5rem; } }

.about, .projects {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 800px;
  height: 100%;
  padding: 1rem;
  margin: auto; }

.projects {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 800px;
  height: 100%;
  margin: auto;
  padding: 1rem; }
  .projects .project-card {
    width: calc(50% - 12px);
    background-color: #24283b;
    border-radius: 10px;
    overflow: hidden; }
    .projects .project-card img {
      width: 100%;
      height: auto; }
    .projects .project-card .card-content {
      padding: 1rem; }
      .projects .project-card .card-content h3 {
        margin: 0; }
      .projects .project-card .card-content .technology {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
        padding-top: 8px; }
    .projects .project-card:hover {
      background-color: #292d43;
      cursor: pointer; }

.tech-chip {
  display: flex;
  align-items: center;
  width: fit-content;
  padding: 4px 8px;
  border-radius: 4px; }
  .tech-chip i {
    font-size: 24px; }
    @media (min-width: 768px) {
      .tech-chip i {
        padding-right: 4px; } }
  .tech-chip span {
    display: none;
    font-size: 16px; }
    @media (min-width: 768px) {
      .tech-chip span {
        display: block; } }

.vue {
  background: #42b883;
  color: #fff; }

.scss {
  background: #9e5680;
  color: #ffffff; }

.react {
  background: #00d8ff;
  color: #fff; }

* {
  box-sizing: border-box;
  transition: background-color 0.3s ease; }

body,
html {
  margin: 0;
  background-color: #1a1b26;
  color: #fafafa;
  font-family: "PT Sans", sans-serif; }

h1, h2, h3, h4, h5, button {
  font-family: "Poppins", sans-serif; }

.bottom-border {
  display: block;
  width: 100%;
  height: 5px;
  background: #bb9af7;
  position: fixed;
  bottom: 0; }
